<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f6598">  <td>18/09/29 06:35:08</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ValidLoginTest.setUpBeforeTestClass()[pri:0, instance:mobiquity.e2e.EditEmployeeTest@612679d6]">&gt;&gt;setUpBeforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>18/09/29 06:35:15</td>   <td>6999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddEmployeeTest.testAddEmployee()[pri:1, instance:mobiquity.e2e.AddEmployeeTest@1060b431]">testAddEmployee</td> 
  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="ae7a6f">  <td>18/09/29 06:35:15</td>   <td>6940</td> <td>&nbsp;</td><td title="&gt;&gt;AddEmployeeTest.testValidLogin()[pri:0, instance:mobiquity.e2e.AddEmployeeTest@1060b431]">&gt;&gt;testValidLogin</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="6f6598">  <td>18/09/29 06:35:15</td>   <td>6976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidLoginTest.testValidLogin()[pri:0, instance:mobiquity.e2e.EditEmployeeTest@612679d6]">testValidLogin</td> 
  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="6f6598">  <td>18/09/29 06:35:15</td>   <td>6984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidLoginTest.testValidLogin()[pri:0, instance:mobiquity.e2e.LogoutTest@e720b71]">testValidLogin</td> 
  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="6f6598">  <td>18/09/29 06:35:15</td>   <td>6987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidLoginTest.testValidLogin()[pri:0, instance:mobiquity.e2e.ViewEmployeeAndUpdateDetails@1b26f7b2]">testValidLogin</td> 
  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="6f6598">  <td>18/09/29 06:35:15</td>   <td>6992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidLoginTest.testValidLogin()[pri:0, instance:mobiquity.e2e.DeleteEmployeeTest@491cc5c9]">testValidLogin</td> 
  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="6f6598">  <td>18/09/29 06:35:15</td>   <td>6994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidLoginTest.testValidLogin()[pri:0, instance:baseTest.ValidLoginTest@74ad1f1f]">testValidLogin</td> 
  <td>main@897074030</td>   <td></td> </tr>
<tr bgcolor="6f6598">  <td>18/09/29 06:35:15</td>   <td>6997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ValidLoginTest.testValidLogin()[pri:0, instance:mobiquity.e2e.AddEmployeeTest@1060b431]">testValidLogin</td> 
  <td>main@897074030</td>   <td></td> </tr>
</table>
